---
---

ol {
  padding: 0;
}

.publication-date {
  display: block;
  font-size: .7em;
}

.publication-date + h1 {
  margin-top: 0;
}

article > header {
  margin-top: 3em;
}

article {
  margin-bottom: 5em;
}