<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta description="Homepage of Tim Marinin, web developer from Russia, living in Saint Petersburg.">
    <meta keywords="Marinin Tim, marinintim, randomwind, web development, web design">
    <meta name="google-site-verification" content="c-fSRCf-73MfvqzlCfjmrcyy_yXWGzf5jOupQfTSdUw" />
    <title>{% if page.title %}{{page.title}} — {% endif %}Marinin Tim</title>
    <link rel="icon" href="/favicon-tm.png">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/base.css">
  </head>
  <body>
    {{content}}
  </body>
</html>
