---
layout: blog
lang: ru
---
<section class="index-intro">
  <p>
    Фронтенд-разработчик. Живу в СПб.
  </p>
  <p>Иногда пушу на <a href="https://github.com/marinintim/">гитхаб</a> и думаю вслух в <a href="https://twitter.com/marinintim">твиттере</a>.
  </p>
  <p> Здесь же я пишу о программировании, фильмах и всякой чепухе. ❦  
  </p>
</section>

{% for post in site.posts %}
{% if post.lang == 'ru' %}
<article>
  <header><time class="publication-date" datetime="{{post.date}}">{{post.date}}</time><h1><a href="{{post.url}}">{{post.title}}</a></h1></header>
  {{post.content}}
</article>
{% endif %}
{% endfor %}

<footer>
  <p><a href="/">English version</a> is also available ❦</p>
</footer>
